.film__grid {
    margin-top: 1rem;
    width: 90%;
    margin-inline: auto;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(220px, 1fr)
    );
}


