.spin__container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 80vh;
}

.spinner {
    position: relative;
    width: 120px;
    height: 120px;
    font-size: 24px;
    color: var(--bg-primary);
    letter-spacing: 2px;
    display: grid;
    place-items: center;
}

.spinner::after {
    content: "";
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border-radius: 50%;
    border-top: 12px solid rgba(255, 255, 255, .2);
    border-right: 12px solid rgba(255, 255, 255, .2);
    border-bottom: 12px solid rgba(255, 255, 255, .2);
    border-left: 12px solid var(--pink);
    transform: translateZ(0);
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}





